.header {
    color: #000 !important;
    font-size: 1rem !important;
    text-align: center !important;
    font-weight: 600 !important;
    margin: 16px 0 !important;
}

.imgCorn {
    width: 100%;
}

.imgHolder {
    width: 400px;
    height: 400px;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.shift {
    position: absolute;
    top: 50%;
    left: 77%;
    cursor: pointer;
}

.slider {
    position: relative;
}

.uploadRow {
    display: flex;
}

.contentFlex {
    display: flex;
}

.firstContent {
    display: flex;
}

.priceContainer {
    background: #FCF7F7;
    border-radius: 8px;
    color: #DB353A;
    font-weight: 700;
    padding: 10px 60px;
    margin: 23px 50px;
}

.holder {
    display: flex;
    flex-direction: column;
}

.firstContent input {
    padding: 5px 60px;
}

.firstContent select {
    padding: 0 40px;
    height: 40px;
    margin-top: 30px;
}

.active  {
    background: white;
    color: #DB353A;
    cursor: pointer;
    display: flex;
    box-shadow: 2px 5px 10px rgba(232, 80, 80, 0.2);
    border-radius: 4px;
    
    padding: 5px 80px;
}

.active .box {
    background: #DB353A;
    color: white;
    width: 40px;
    height: 17px;
    font-size: 13px;
    margin-left: 15px;

}

.deliveryHolder {
    background: #FCF7F7;
border-radius: 8px;
display: flex;
justify-content: space-between;
padding: 10px 0;
}

.firstcon, .secondCon {
    cursor: pointer;
    display: flex;
    padding: 5px 80px;
    
}

.firstcon .box, .secondCon .box {
    color: #FFFFFF;
    background: black;
    width: 40px;
    height: 17px;
    font-size: 13px;
    margin-left: 20px;
}


.formRow {
    display: flex;
    margin: 10px 0;
}

.totalCostBox {
    color: #181717;
    background: #FCF7F7;
border-radius: 8px;
padding: 30px;
}

.ice {
    display: flex;
    justify-content: space-between;
}

.flexButton {
    width: 60%;
    margin-top: 15px;
    margin-left: 250px;
    display: flex;
}

.flexButton .previous {
    border: 1px solid #DB353A;
    border-radius: 8px;
    background: transparent;
    padding: 10px 60px;
    color: #DB353A;
}

.header {
    color: #000 !important;
    font-size: 1rem !important;
    text-align: center !important;
    font-weight: 600 !important;  
}

.paragraph {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -20px;
}

.flexButton .submit {
  background: #F1DBDA;
  border-radius: 8px;
 color: #CB6C6F;
  padding: 10px 60px;
  margin-left: 20px;
  border: 1px solid #DB353A;
  cursor: none !important;
}
.submitActive {
  background: #DB353A;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 10px 60px;
  margin-left: 20px;
  border: 1px solid #DB353A;
}

.selectFlex {
    display: flex;
    justify-content: space-around;
}

.singleSelect {
    width: 40%;
}

.selectFlex select {
    width: 100%;
    padding: 10px 0;
}


.upload {
    cursor: pointer;
    background: #FCF7F7;
    border: 1px dashed #CAC2C3;
    width: 110%;
    padding: 10px 30px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
   
}

.upload p {
    margin: 0 !important;
}

.ErrorBg {
    background: #18171775;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.ErrorContain {
    background: white;
    width: 50%;
    box-shadow: 2px 5px 10px rgba(232, 80, 80, 0.2);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px 20px;
}

.ErrorContain p {
    color: #606062;
    text-align: center;
    margin: 0 30px;
}
 
.ErrorContain h1 {
    color: #000;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0;
}

.ErrorContain .ErrorButtonFlex {
    display: flex;
    margin-top: 40px;
}

.ErrorContain .ErrorButtonFlex .ErrorCancel {
    outline: none;
    background: transparent;
    border: 1px solid #DB353A;
    border-radius: 8px; 
    color: #DB353A;
    padding: 10px 90px;
}

.ErrorContain .ErrorButtonFlex .ErrorRetry {
    outline: none;
    background: #DB353A;
    border: 1px solid #DB353A;
    border-radius: 8px; 
    color: #fff;
    padding: 10px 140px;
    margin-left: 10px;
}

.ErrorContain .ErrorMessage {
  margin-left: 50%;
}

.shownAmount p {
    color: #606062;
    font-weight: 500;
}

.shownAmount .shownAmountContainer {
    background: #FCF7F7;
    border-radius: 8px;
    color: #DB353A;
    font-weight: 600;
    padding-left: 20px;
}



@media screen and (max-width:900px) {
     .signatureCanvas  {
        width: 100%;
    }
    .imgHolder {
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 0;
        height: 200px;
        width: 200px;
    }

    .slider {
       
        width: 50%;
    }

    .shift {
        right: 70%;
    }

    .ErrorContain {
        width: 90%;
    }
    .ErrorContain .ErrorButtonFlex {
        flex-direction: column;
    }
    .ErrorContain .ErrorButtonFlex .ErrorRetry, .ErrorCancel {
        padding: 10px 0;
        width: 100%;
    }

    .ErrorContain .ErrorButtonFlex  .ErrorRetry {
        margin-left: 0;
        margin-top: 10px;
    }

    .ErrorContain .ErrorMessage  {
        margin: 0;
    }
    .selectFlex  {
        flex-direction: column;
    }
    .singleSelect {
        width: 100%;
    }
    .contentFlex {
        flex-direction: column;
    }
   .formRow {
        flex-direction: column;
    }
    .uploadRow  {
        flex-direction: column;
    }
    .upload {
        width: 100%;
    }
    .flexButton {
  width: 100%;
  margin-top: 30px;
  margin: 0;
  flex-direction: column;
}
.flexButton .submit {
    margin: 2px 0;
}
.submitActive {
    margin: 2px 0;
}
.flexButton .previous {
    margin: 2px 0;
}
.formRow {
        flex-direction: column;
    }
}